extends layout

block content
  h1= title
  p Welcome to #{title}
  p.
    #{title} is a simple API let you know which day is the end date of RDSS.
    You can use it to calculate how many days remaining to the end date just like #[a this example].

  h2 What is RDSS?
  p. 
    RDSS is the abbreviation for #[strong Research and Development Substitue Services], 
    which is a kind of #[a(href='https://en.wikipedia.org/wiki/Alternative_civilian_service') alternative civilian service] 
    in #[a(href='https://en.wikipedia.org/wiki/Taiwan') Taiwan].
    Citizen who seriving RDSS works for company, doing research and development job to enhance the strength of Taiwan technology industry.
    You can learn more about RDSS on the website of #[a(href='https://rdss.nca.gov.tw/MND_NCA/') Taiwan Ministry of the Interior].
  
  h2 How to use RDSS API?
  p Please read #[a(href='') API document] to learn more.

  h2 Build your own RDSS API server
  p Just fork and clone #[a(href='https://github.com/qcl/rdss') the source code of RDSS API].
